{% extends 'home/base.html' %}

{% block content %}
    <div class="container">
        <h1 >About This Blog</h1>
        <p class="mt-4">Welcome to our blog! Here, you can:</p>
        <ul>
            <li>Read the newest and most popular posts.</li>
            <li>View content from your favorite authors.</li>
            <li>Create your own posts and share your thoughts with the world.</li>
        </ul>
        <p class="mt-4">Whether you're here to write, read, or connect, we hope you enjoy your experience. Thank you for being a part of our community!</p>
    </div>
{% endblock %}