{% extends 'home/base.html' %}

{% block content %}
    <article class="media content-section">
        <img class="rounded-circle article-img" src="{{object.author.profile.image.url}}">
        <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
                <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
                {% if object.author == user %}
                <div>
                    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'post-update' object.id %}">Update</a>
                    <a class="btn btn-danger btn-sm mt-1 mb-1" href="{% url 'post-delete' object.id %}">Delete</a>
                </div>
                {% endif %}
            </div>
            <h2 class="article-title" >{{ object.title }}</h2>
            <p class="article-content">{{ object.content|safe }}</p>
            {%if is_liked %}
                <a class="bookmark" href="{%url 'actions-upvote' object.id%}">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                </a>
            {%else%}
                <a class="bookmark" href="{%url 'actions-upvote' object.id%}">
                    <i class="bi bi-hand-thumbs-up"></i>
                </a>
            {%endif%}
                {{total_likes}} Upvotes
            <a><i class="bi bi-chat-text"></i> 0 Thoughts</a>
        </div>
        {%if request.user != post.author%}
            {% if is_saved %}
                    <a class="bookmark" title="Unsave" href="{%url 'actions-save' object.id %}"><i class="bi bi-bookmark-fill"></i></a>
            {% else %}
                    <a class="bookmark" title="Save" href="{%url 'actions-save' object.id %}"><i class="bi bi-bookmark"></i></a>
            {% endif %}
        {%endif%}
    </article>
{% endblock %}

