{% extends 'home/base.html' %}
    
{% block content %}
    <div class="container d-flex justify-content-center align-items-center mb-4" style="min-height: 50vh;">
        <div class="card text-center shadow" style="width: 18rem;">
            <div class="card-body">
                <div class="d-flex justify-content-center">
                    <img src="{{ user_profile.image.url }}" class="rounded-circle mb-3" alt="Profile Picture" style="width: 120px; height: 120px;">
                </div>
                <h4 class="card-title mb-1">{{ user_profile.user.username }}</h4>
                <p class="card-subtitle text-muted mb-3">{{ user_profile.user.email }}</p>
                <p class="card-subtitle text-muted mb-3">Subscribers: {{ user_profile.user.profile.subscribers_count }}</p>
                <p class="card-text">
                    {{ user_profile.bio }}
                </p>
                {% if request.user != user_profile.user %}
                    {% if is_subscribed %}
                        <a href="{% url 'actions-unsubscribe' user_profile.user.id%}" class="btn btn-outline-secondary btn-sm">UnSubscribe <i class="bi bi-bell"></i></a>
                    {%else%}
                        <a href="{% url 'actions-subscribe' user_profile.user.id%}" class="btn btn-secondary btn-sm">Subscribe <i class="bi bi-bell"></i></a>
                    {%endif%}
                {%else%}
                    <a href="{% url 'profile' %}" class="btn btn-secondary btn-sm">Edit <i class="bi bi-pen"></i></a>
                {%endif%}
            </div>
        </div>
    </div>
    <h3 class="mb-3">Posts by {{view.kwargs.username}} ({{page_obj.paginator.count}})</h3>
    {% for post in posts %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
            <div class="media-body">
            <div class="article-metadata">
                <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content|safe }}</p>
            {%if post.is_liked %}
                    <a class="bookmark" href="{%url 'actions-upvote' post.id%}">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </a>
                {%else%}
                    <a class="bookmark" href="{%url 'actions-upvote' post.id%}">
                        <i class="bi bi-hand-thumbs-up"></i>
                    </a>
                {%endif%}
                    {{post.total_likes}} Upvotes
                <a><i class="bi bi-chat-text"></i> 0 Thoughts</a>
            </div>
            {%if request.user != post.author%}
                {% if post.is_saved %}
                        <a class="bookmark" href="{%url 'actions-save' post.id %}"><i class="bi bi-bookmark-fill"></i></a>
                {% else %}
                        <a class="bookmark" href="{%url 'actions-save' post.id %}"><i class="bi bi-bookmark"></i></a>
                {% endif %}
            {%endif%}
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a class="btn btn-outline-dark mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-dark mb-4" href="?page={{page_obj.previous_page_number}}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
            {%if page_obj.number == num%}
                <a class="btn btn-dark mb-4" href="?page={{num}}">{{num}}</a>
            {%elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'-3'%}
                <a class="btn btn-outline-dark mb-4" href="?page={{num}}">{{num}}</a>
            {%endif%}
        {%endfor%}
        {%if page_obj.has_next%}
            <a class="btn btn-outline-dark mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
            <a class="btn btn-outline-dark mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
        {%endif%}
    {% endif %}
{% endblock %}

